.container{
    
    text-align: center;
    
}
body{
    
    background: url(../img/bg6.jpg);
    text-align: center;
    background-size: cover;
}
table{
    background: url(../img/bg8.jpg);
    
}